@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

body {
    background: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;

    font-family: Lato, "Helvetica Nueue", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
}

body a:link {
	text-decoration: none;
	color: #0000AA;
}

body a:visited {
	text-decoration: none;
	color: #0000AA;
}

body a:hover {
	color: #0000EE;
}

body input:focus {
	color: #0000EE;
}

footer a:link {
    text-decoration: none;
    color: #0000AA;
}

footer a:visited {
    text-decoration: none;
    color: #0000AA;
}

footer a:hover {
    color: #0000EE;
}

footer input:focus {
    color: #0000EE;
}

h1 {
    font-family: Raleway, "Helvetica Nueue", Helvetica, sans-serif;
    font-size: 300%;
    font-weight: 300;
    margin:	0px;
}

h2 {
    font-family: Raleway, "Helvetica Nueue", Helvetica, sans-serif;
    font-size: 150%;
    font-weight: 300;
    color: #505050;
}

h3 {
    font-family: Raleway, "Helvetica Nueue", Helvetica, sans-serif;
    font-size: 125%;
    font-weight: 300;
    color: #505050;
}

main {
	margin-left: 30%;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	background: url(../img/ricepaper_v3.png);
	opacity: 0.9;
}

header {
    padding: 1em;
    background-color: #FA5A0F;
    border-bottom: 5px;
    border-bottom-color: #EA4A00;
    color: #FFFFFF;    
}

header p {
    font-size: 120%;
    color: #EEEEEE;
    margin: 0px;
}

section.info {
    padding: 1em;
}

section.menu {
    padding: 1em;
    background-color: rgba(207, 205, 140, 0.5);

}

section.menu dt {
    font-weight: 400;
}

section.menu dd {
    font-size: 80%;
    font-style: italic;
    margin-left: 1em;
    margin-bottom: 1em;
}

section.about {
    padding: 1em;
}

footer {
    padding: 1em;
    background-color: #FC892F;
    border-top: 5px;
    border-top-color: #EC791F;
    font-size: 80%;
    text-align: right;
}



